.loginContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginText {
  font-size: 32px;
  color: white;
}
.loginButton {
  color: white;
  display: inline-block;
  background-color: rgb(29, 185, 84);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 17px 35px;
  margin: 20px 0px 70px;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.loginButton:hover{
  background-color: rgb(30, 215, 96);
}

