.trackList {
  .trackHeading {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
  }

  .seeMore {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 11px 24px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.3, 0, 0.4, 1);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }

  .seeMore:hover {
    background-color: white;
    color: black;
  }

  .artists {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .artistImg {
    display: inline-block;
    position: relative;
    width: 50px;
    min-width: 50px;
    margin-right: 20px;

    img {
      width: 50px;
      min-width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 100%;
    }
  }

  .artistName {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
}

@media (max-width: 48em) {
  .trackList {
    ul {
      padding: 0px;
    }
  }
}
