.mainContainer {
  width: 100%;
  margin: 0px auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 80px;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}

.playlistList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.playlistItems {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.playlistItems img {
  border-radius: 8px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.playlistItems img:hover {
  background-color: black;
  opacity: 0.5;
}
.playlistName {
  margin-top: 20px;
  border-bottom: 1px solid transparent;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: 0.25scubic-bezier(0.3, 0, 0.4, 1);
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tracks {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(155, 155, 155);
}

@media (max-width: 48em) {
  .mainContainer {
    padding: 30px 25px;
  }
  .headerContainer {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .playlistList {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .playlistItems img {
    width: 150px;
    height: 150px;
  }
}
