.trackContainer {
  .trackHeading {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
  }

  .seeMore {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 11px 24px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.3, 0, 0.4, 1);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }

  .seeMore:hover {
    background-color: white;
    color: black;
  }
}
