.mainContainer {
  width: 100%;
  margin: 0px auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 80px;
  box-sizing: border-box;
}
.topContainer {
  display: flex;
  gap: 24px;
}
.details {
  color: white;
}

.title {
  font-size: 42px;
  margin: 0px 0px 5px;
}
.artist {
  color: rgb(179, 179, 179);
  font-weight: 700;
  text-align: left !important;
}
.year {
  color: rgb(155, 155, 155);
  font-weight: 400;
  font-size: 16px;
}
.playbtn {
  border-radius: 50px;
  padding: 11px 24px;
  margin: 20px 0px;
  font-size: 14px;
}
.bottomContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  width: 80%;
  margin-bottom: 50px;
  text-align: center;
  border-top: 1px solid rgb(64, 64, 64);
  border-left: 1px solid rgb(64, 64, 64);
  margin: 100px auto;
}
.cell {
  padding: 15px 10px;
  border-bottom: 1px solid rgb(64, 64, 64);
  border-right: 1px solid rgb(64, 64, 64);
}
.ttext {
  color: rgb(179, 179, 179);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}
.thead {
  color: rgb(179, 179, 179);
  font-size: 12px;
  margin-bottom: 0px;
}
