.mainContainer {
  width: 100%;
  margin: 0px auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 80px;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}
@media (max-width: 48em) {
  .mainContainer {
    padding: 30px 25px;
  }
  .headerContainer {
    flex-direction: column;
    margin-bottom: 16px;
  }
}
