:root {
  --background-color: #181818;
  --primary-color: #fffff;
  --secondary-color: #2ecc71;
}

body {
  background-color: var(--background-color);
  margin: auto;
  font-family: 'Circular Std';
  box-sizing: border-box;
}

h1 {
  font-family: 'Circular Std Bold';
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* App.css */

/* Regular Font */
@font-face {
  font-family: 'Circular Std';
  src: url('/src/fonts/CircularStd-Black.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Bold Font */
@font-face {
  font-family: 'Circular Std Bold';
  src: url('/src/fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
.spotify-button {
  color: white;
  display: inline-block;
  background-color: rgb(29, 185, 84);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 17px 35px;
  margin: 20px 0px 70px;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
